@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-inter;
}

/* hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* decrease the width and style of default scrollbar */
.scrollbar-md::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar-md::-webkit-scrollbar-thumb {
  @apply bg-accent-400;
}
/* decrease the width and style of default scrollbar */
.scrollbar-sm::-webkit-scrollbar {
  @apply w-1 rounded-md;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  @apply bg-accent-400;
}
